$base-color: #2828288f;
$default-opacity: 1;
$default-fade-transition-speed: 0.2s;
$default-slide-transition-speed: 0.5s;

// .container {
//   // THIS IS HOW WE WOULD INVERT TEXT FOR MIRRORING*/
//   -moz-transform: scale(-1, 1);
//   -webkit-transform: scale(-1, 1);
//   -o-transform: scale(-1, 1);
//   -ms-transform: scale(-1, 1);
//   transform: scale(-1, 1);
// }

.v-aligned-container {
  display: flex;
  align-items: center;
  height: 100vh;
}

p {
  z-index: 2;
}

img,
video {
  /*opacity: 0;*/
  // width: 100%;
  // max-width: 100%;
  // position: absolute;
  // top: 50vh;
  // transform: translateY(-50%);
}

.overlay {
  opacity: 0.3;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.73);
  z-index: 1;
}

/*Effects*/

.offset {
  left: -100px;
  transition: $default-slide-transition-speed ease;
}

.slide-in {
  left: 0;
  transition: $default-slide-transition-speed ease;
}

.slide-out {
  left: 100px;
  transition: $default-slide-transition-speed ease;
}

.fade-in {
  -moz-animation-name: fadeIn;
  -webkit-animation-name: fadeIn;
  -ms-animation-name: fadeIn;
  animation-name: fadeIn;
  -moz-animation-duration: $default-fade-transition-speed;
  -webkit-animation-duration: $default-fade-transition-speed;
  -ms-animation-duration: $default-fade-transition-speed;
  animation-duration: $default-fade-transition-speed;
  -moz-animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
  -ms-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -moz-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.fade-out {
  -moz-animation-name: fadeOut;
  -webkit-animation-name: fadeOut;
  -ms-animation-name: fadeOut;
  animation-name: fadeOut;
  -moz-animation-duration: $default-fade-transition-speed;
  -webkit-animation-duration: $default-fade-transition-speed;
  -ms-animation-duration: $default-fade-transition-speed;
  animation-duration: $default-fade-transition-speed;
  -moz-animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
  -ms-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -moz-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

@-moz-keyframes fadeOut {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@-ms-keyframes fadeOut {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
